/* styles.css */

table {
    justify-content: space-evenly;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
  }

  #mrztable caption {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    background-color: grey;
    color: white;
    padding: 10px;
  }

  #fronttable caption {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    background-color: grey;
    color: white;
    padding: 10px;
  }

  #backtable caption {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    background-color: grey;
    color: white;
    padding: 10px;
  }
  

  #frontImage, #backImage {
    width: 100%;
    max-width: 100%;
    height: 50%;
  }

  #faceMatch,#liveness {
    width: 200px;
    height: 50px;
    background-color: #D5323F;
    visibility:hidden;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    color: white;
  }

  #faceScore, #liveScore {
    width: 200px;
    visibility:hidden;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: center;
  }

  .column2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .column3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #FrontImg {
    background-color: grey;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 10px;
  }

  td {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  td:nth-child(odd) {
    width: 150px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
 tr {
    width: 50%;
    justify-content: center;
    background-color: #f9f9f9;
    color: black;
  }
  
  tr:hover {
    background-color: #e9e9e9;
  }

  .app-bar {
    position: sticky;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #D5323F;
    color: #fff;
    padding: 10px;
    margin: 0px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 35px;
    margin-bottom: 5px;
  }
  
.app-bar-title {
    margin: 0;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:-10px
}

/* .column img {
  max-width: 100%;
  height: auto; 
   margin: 10px; Adjust the margin between images as needed 
} 

 .column img { 
   margin-bottom: 10px;
 } */